body {
    margin: 0;
    color: #fff;
    background-color: #000;
}
.box {
    width: 100%;
    height: 100vh;
    background-color: #000a;
    position: absolute;
    text-align: center;
}
img {
    width: 100%;
    height: 100vh;
}
nav {
    display: flex;
    flex-wrap: wrap;


}
ul {
    display: flex;
    flex: 1 1 50px;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    margin-top: 22px;
    justify-content: right;
    margin-right: 15%;

}
a {
    text-decoration: none;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 700;
    font-family: sans-serif;
}
.contact {
    border: 1px solid #fff;
    padding: 5px 20px;
}
li {

}
a:hover {
    border-bottom: 2px solid #fb0;
    color: #fb0;
}
.contact:hover {
    border: 2px solid #fb0;
    color: #fb0;
}

h1 {
    color: #fb0;
    margin: 10px;
    font-size: 30px;
    margin-left: 5%;
}
.text {
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}
.name {
    font-family: "Playwrite AU QLD", cursive;
    font-weight: bold;
    font-size: 30px;
}
